<div class="modal-dialog" role="document">
    <div class="modal-content">
        <form name="userFormAdd" ng-submit="save(userAdd, 0)" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cadastro de Usuário</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-class="{ 'has-error' : userFormAdd.name.$invalid && !userFormAdd.name.$pristine }">
                    <label>Name</label> <i class="red">*</i>
                    <input autofocus type="text" name="name" class="form-control" ng-model="userAdd.name" required>
                    <p ng-show="userFormAdd.name.$invalid && !userFormAdd.name.$pristine" class="help-block">Preencha o nome.</p>
                </div>                
                <div class="form-group" ng-class="{ 'has-error' : userFormAdd.email.$invalid && !userFormAdd.email.$pristine }">
                    <label>Email</label> <i class="red">*</i>
                    <input type="email" name="email" class="form-control" ng-model="userAdd.email">
                    <p ng-show="userFormAdd.email.$invalid && !userFormAdd.email.$pristine" class="help-block">Preencha um e-mail válido.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : userFormAdd.login.$invalid && !userFormAdd.login.$pristine }">
                    <label>Login</label> <i class="red">*</i>
                    <input type="text" name="login" class="form-control" ng-model="userAdd.login">
                    <p ng-show="userFormAdd.login.$invalid && !userFormAdd.login.$pristine" class="help-block">Preencha o login para acessar o sistema.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : userFormAdd.password.$invalid && !userFormAdd.password.$pristine }">
                    <label>Password</label> <i class="red">*</i>
                    <input type="password" name="password" class="form-control" ng-model="userAdd.password">
                    <p ng-show="userFormAdd.password.$invalid && !userFormAdd.password.$pristine" class="help-block">Preencha a senha para acessar o sistema.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-disabled="userFormAdd.$invalid" class="btn btn-success">Salvar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </form>
    </div>
</div>