<div class="row">
    <div class="col-md-5">
        <h3>Usuários</h3>
    </div>
    <div class="col-md-7 box-button-top">
        <div class="btn-group pull-right" role="group">
            <button type="button" data-toggle="modal" id="link-add" data-target="#form-add" class="btn btn-sm btn-primary">Novo</button>
        </div>
    </div>
</div>
<hr />
<form class="form-inline" form="search" ng-submit="list(q)">
    <div class="form-group">
        <input type="text" ng-model="q.name" class="form-control input-sm" id="exampleInputName2" placeholder="Nome">
    </div>
    <div class="form-group">
        <input type="email" ng-model="q.email" class="form-control input-sm" id="exampleInputEmail2" placeholder="E-mail">
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Buscar</button>
    <button type="button" ng-click="clearSearch()" class="btn btn-sm btn-default">Limpar</button>
</form>
<hr />

<p ng-show="users.length == 0">Não existe usuário(s) cadastrado.</p>

<div ng-show="users.length > 0" class="btn-group  btn-group-xs" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ações
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="javascript:void(0);" ng-click="deleteMass(users)">Deletar</a></li>
    </ul>
</div>

<table ng-show="users.length > 0" class="table table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" ng-model="checkAll" value="all" /></th>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(userIndex, user) in users">
            <th scope="row"><input type="checkbox" ng-checked="checkAll" ng-model="user.selected" /></th>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
                <button ng-click="edit(user, userIndex)" data-toggle="modal" id="link-edit" data-target="#form-edit" class="btn btn-xs btn-default"
                    type="submit">Editar</button>
                <button ng-click="delete(user.id, userIndex)" class="btn btn-xs btn-default" type="submit">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
<nav ng-show="users.length > 0">
    <ul class="pagination pagination-sm">
        <li ng-repeat="(pageIndex, page) in pages" ng-class="{active: pageCurrent == page.value}"><a ng-href="#/users/{{page.value}}">{{page.value}}</a></li>
    </ul>
</nav>

<div ng-include="'tpl/users/add.html'" class="modal" id="form-add" tabindex="-1" role="dialog"></div>
<div ng-include="'tpl/users/edit.html'" class="modal" id="form-edit" tabindex="-1" role="dialog"></div>