<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#/">AdminTheme</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <li class="dropdown">
                <a href="javascript:void();" class="dropdown-toggle" data-toggle="dropdown">Configurações <span class="caret"></span></a>
                <ul class="dropdown-menu setting" role="menu">
                    <li><a href="#/users">Usuários</a></li>
                    <li><a href="#/role">Cargos</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">{{userLogged.name}} <span class="caret"></span></a>
                <ul class="dropdown-menu setting" role="menu">
                    <li><a href="" data-toggle="modal" data-target="#form-profile">Minha Conta</a></li>
                    <li class="divider"></li>
                    <li><a href="" ng-click="logout()">Sair</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>